---
layout: default
---
.jumbotron
  .container
    %h4 Maerchiqudi vs. the world
    %p Nachdem wir Recherche im Ausmaß einer Diplomarbeit betrieben hatten, war es am 24. September 2013 so weit. Wir schulterten unsere Rucksäcke und flogen 16 Stunden in die Ferne, um uns die Welt ein wenig genauer anzuschauen. Jobs und Wohnung wurden vorher gekündigt und für ein Jahr sollten wir aus unserem Rucksack leben. Auf dieser Seite dokumentieren wir ein paar Stationen, Gefühle und Ängste die wir währenddessen hatten. Genau genommen beruhigen wir nur unsere Familien und informieren Freunde und Interessierte. Vielleicht ermutigt es den einen oder anderen ebenfalls auf so ein Abenteuer einzulassen und auf die Frage, was man den so "tut", mit "einfach nur reisen" zu antworten.
