<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if page.title %}{{ page.excerpt }}{% else %}Einmal um die Welt. Über Sinn und Unsinn unterwegs.{% endif %}">
    <meta name="author" content="maerch & miriquidi">

    <title>maerchiquidi vs. the world</title>
    <link rel="shortcut icon" href="/favicon.ico" >

    <!-- Custom CSS -->
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <!-- Eat me RSS feed -->
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="http://feeds.feedburner.com/maerchiquidi">
  </head> 
  
  <body>

  <!-- Header and navigation -->
  <header id="header">
    <div class="wrapper">
      <div id="title">
        <a href="/">maerchiquidi vs. <span><img src="/img/globe-wob-b@2.png" width="28" height="28" /></a>
      </div>
      <div id="social">
        <a href="/twitter.html"><img src="/img/twitter@2.png" height="28" width="28"></a>
        <a href="http://feeds.feedburner.com/maerchiquidi"><img src="/img/rss@2.png" height="28" width="28"></a>
      </div>
    </div>
  </header>      

  <!-- Main content -->
  <div class="container content">
    {{ content }}
  </div>

  <div id="footer">
    2014 · http://<a href="http://maerchiquidi.de/">maerchiquidi.de</a>/ · <a href="https://github.com/maerch/maerchiquidi">GitHub</a> · <a href="impressum.html">Impressum</a>
  </div>

  <!-- Javascript -->
  <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
  <script src="/js/masonry.pkgd.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script type="text/javascript">
  var thumbs = {};
  $(document).ready(function(){
    var fixedBar = $('#header');
    var opacity = 1.0;
    $(window).on('scroll',function() {
      opacity = 1-(Math.min(40, $(this).scrollTop()-50)/100.0);
      fixedBar.fadeTo(0, opacity);
    });

    fixedBar.hover(
      function() { fixedBar.fadeTo(250, 1.0);     },
      function() { fixedBar.fadeTo(250, opacity); }
    );

    var firstLeftPadding = $('div.first').css('padding-left');
    $('.posting-listed .posting-header').hover(
      function() { 
       $(this).fadeTo(250, 0.9); 

       var first = $(this).find('div.first');
       var third = $(this).find('div.third');

       var firstWidth = parseInt(first.outerWidth(true));
       var thirdWidth = parseInt(third.outerWidth(true));

       var newLeftPadding = thirdWidth - firstWidth + parseInt(firstLeftPadding);

       first.animate({paddingLeft: newLeftPadding + "px"});

       var height = parseInt(third.outerHeight(true));
       
       var newBottom = 500 - height - 90;
       third.animate({bottom: newBottom+"px" });
      },
      function() {
        $(this).fadeTo(250, 1.0); 
        $(this).find('div.first').animate({paddingLeft: firstLeftPadding});
        $(this).find('div.third').animate({bottom: "20px" });
      }

    );

    $(".item").on("click", function(d) { 
      var item = $(this);
      var background = item.css("background-image");
      if(item.hasClass("large")) {
        background = thumbs[background];
      } else {
        var large     = background.replace("thumb/", "");
        thumbs[large] = background;
        background    = large;

        $.get(large.match(/url\((.*)\)/)[1], function( data ) {
          item.css("background-image", background);
        });
      }
      item.toggleClass("large");
      $(".js-masonry").masonry();
      $(".js-masonry").masonry( 'on',  'layoutComplete', function() {
        $('html, body').animate({
          scrollTop: item.offset().top - 70
        }, 250);
        return true;
      });
    })

 });
  </script>

  </body>
</html>
